<!DOCTYPE html>
<html>
  <head>
    <title>AmazonClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script>
        window.user = {
          'id': <%=user.id%>,
          'email': <%=user.email%>,
        }
      </script>
    <%end%>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
